@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header > .toggle-darkMode {
    font-size: 15px;
    padding-bottom: 20px;
}

.btn {
    background-color:#03C988;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: large;
    font-weight:100;
    color: white;
    border-radius: 42px 42px 42px 42px;
    -webkit-border-radius: 42px 42px 42px 42px;
    -moz-border-radius: 42px 42px 42px 42px;
    border: 4px inset #9acfcf;
    box-shadow: 7px 10px 19px 1px rgba(0,0,0,0.49);
    -webkit-box-shadow: 7px 10px 19px 1px rgba(0,0,0,0.49);
    -moz-box-shadow: 7px 10px 19px 1px rgba(0,0,0,0.49);
}

.btn:hover {
    background-color:#036947
}

body {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: azure;
    border: 16px inset #9acfcf;
    border-radius: 50px;
    width: 700px;
    margin: auto;
    margin-top: 10px;
    padding-bottom: 5px;
    box-shadow: 7px 10px 19px 1px rgba(0,0,0,0.49);
    -webkit-box-shadow: 7px 10px 19px 1px rgba(0,0,0,0.49);
    -moz-box-shadow: 7px 10px 19px 1px rgba(0,0,0,0.49);
}


.dark {
    background-color: darkslategrey;
    color: white;
    border: 16px outset #9acfcf;
}

.dark-button {
    background-color: #1C82AD;
    border: 4px outset #9acfcf;
}

.dark-button:hover {
    background-color:#145470
}

header {
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    letter-spacing: .2rem;
}

header > h1 {
    display: inline;
    margin: 0;
} 

header > button {
    position: absolute;
    height: 30px;
    border-radius: 50%;
    top:0;
    right:0; 
    margin-top: 2px;
    margin-right:10px ;
}

.button-container {
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    height: 200px;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
}

.button-container > button {
    width: 100px;
    height: 100px;
    font-size: 40px;
    border-radius: 50%;
    margin: 50px 0;
}

.round-result {
    width: 100px;
    font-size: 25px;
}

.results-container {
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;
}

.player-data, .computer-data {
    width: 200px;
    height: 200px;
    padding: 0;
    margin: 0;
    border-radius: 42px 42px 42px 42px;
    -webkit-border-radius: 42px 42px 42px 42px;
    -moz-border-radius: 42px 42px 42px 42px;
    border: 4px inset #9acfcf;
    box-shadow: 7px 10px 19px 1px rgba(0,0,0,0.49);
    -webkit-box-shadow: 7px 10px 19px 1px rgba(0,0,0,0.49);
    -moz-box-shadow: 7px 10px 19px 1px rgba(0,0,0,0.49);
}

.dark-data {
    border: 4px outset #9acfcf;
}

.playerChoice, .computerChoice {
    font-size: 40px;
    line-height: 55px;
    margin: 0;
}

div > h3 {
    text-decoration: underline;
}

.reset {
    width: 100px;
    height: 50px;
    border-radius: 10px;
    font-size: 17px;
}

.footer {
    font-size: 10px;
    margin-bottom: 0;
    padding: 0;
}